/*Master container styles*/
html, body {
    margin: 0; /* Remove default browser margins */
    padding: 0;
    --background-color: #D1E3D7;
    --button-color: #94dbc2;
    --side-panel-color: #89d9db;
}

.master-container{
    background-color: var(--background-color);
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    width: 100vw;
}

.openbtn{
    background-color: var(--button-color);
    border-radius: 10px;
    color: black;
    height: 3rem;
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
    transition: 0.5s;
    width: 4rem;
    z-index: 10;
}

/*Sidebar styles*/
.sidebar{
    background-color: var(--side-panel-color);
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    width: 0;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 0;
}

.sidebar h1{
    padding: 8px 32px;
    text-align: center;
    color: black;
    display: block;
    transition: 0s;
}

.addbtn{
    background-color: var(--button-color);
    border-radius: 10px;;
    height: 3rem;
    width: 6rem;
    transition: 0s;
}

/*Modal styles*/
#my-dialog{
    border-radius: 10px;
    position: absolute;
    width: clamp(200px, 520px, 520px);
}

.my-dialog-wrapper{
    display: grid;
    grid-template-rows: 3fr 5fr 1fr;
}

.my-dialog-header{
    grid-row: 1 / 2;
    border-bottom: solid #d3d3d3;
}

.my-dialog-header p:first-of-type{
    font-size: 24px;
}

.my-dialog-header p:last-of-type{
    font-style: italic;
}
.my-dialog-wrapper form{
    align-items: center;
    display: grid;
    flex-direction: column;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-row: 2 / 3;
    justify-content: center;
}

.my-form-left,
.my-form-right{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.my-form-item{
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.my-form-item-checkbox{
    align-self: end;
}

.my-dialog-button-section{
    grid-row: 3 / 4;
}

.my-dialog-button-section button{
    background-color: var(--button-color);
    border-radius: 5px;
    height: 38px;
    padding: 10px 20px;
}

.my-dialog-button-section button:last-of-type{
    background-color: white;
}

/*Main library styles*/
.books{
    padding: 20px;
    transition: margin-left .5s;
}